<%= form_with(model: [@stroll, @comment]) do |form| %>
  <div class="field">
    <%= form.text_area :content, id: "comment_edit" %>
  </div>
  <div class="actions">
    <%= form.submit "編集する", class: "btn btn-default" %>
  </div>
  <br>
<% end %>
