<%= form_with(model: [stroll, comment]) do |form| %>
  <div class="field">
    <%= form.text_area :content %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "コメントする" %>
  </div>
  <br>
<% end %>
