<div class="container-fluid">
  <div class="no-gutters">
    <%= image_tag"bag.jpg", width:"100%" %>
  </div>
  <%# <div class="jumbotron"> %>
    <%# <h1 class="display-3"> %>
      <%# Stroll Around Chiba! %>
    <%# </h1> %>
  <%# </div> %>
</div>
