<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center form-inline">
      <div class="thumbnail" style="height:800px; border:none">
        <br>
        <br>
        <p class="btn btn-danger" style="font-size:1.8rem">４ヶ月間ありがとうございました！</p>
        <br>
        <br>
        <br>
          <ul>
            <div style="font-size:1.5rem">
            <li>
              <div>
              <p>Webエンジニアコース 2020年01月期 葉山哲弘さん</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 松橋龍也さん</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 小高公久さん</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 上口　慧さん</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 三原良介さん</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 青木一泰さん</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 磯谷和樹さん</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 松浦峻介さん</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 松原弘樹さん</p>
              </div>
            </li>
          </div>
          <br>
          <br>
          </ul>
      </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
      <div class="thumbnail" style="height:500px; border:none">
        <br>
        <br>
        <br>
        <br>
        <a href="https://www.pref.chiba.lg.jp/kouhou/miryoku/ganbaro/ganbaro2019.html"><img src="https://www.pref.chiba.lg.jp/kouhou/miryoku/ganbaro/documents/ganbarou.jpg" style="width:350px;height:450px"></a>
      </div>
    </div>
  </body>
</html>
