<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center form-inline">
      <div class="thumbnail" style="height:800px; border:none">
        <br>
        <br>
        <p class="btn btn-danger" style="font-size:1.8rem">４ヶ月間お世話になりました！</p>
        <br>
        <br>
        <br>
          <ul>
            <div style="font-size:1.5rem">
            <li>
              <div>
              <p>Webエンジニアコース 2020年01月期 葉山哲弘</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 松橋龍也</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 小高公久</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 上口　慧</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 三原良介</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 青木一泰</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 磯谷和樹</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 松浦峻介</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 松原弘樹</p>
              </div>
              <div>
              <p>Webエンジニアコース 2020年01月期 渡邉大佑</p>
              </div>
            </li>
          </div>
          <br>
          <br>
          </ul>
      </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
      <div class="thumbnail" style="height:500px; border:none">
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="https://www.shibuyabunka.com/area.php?id=3"><img src="https://www.shibuyabunka.com/img/area/1187765539/img7.jpg"></a>
      </div>
    </div>
  </body>
</html>
