<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="message">
      <p>令和元年台風15号及び台風19号並びに10月25日の大雨で関東甲信、東北地方は大きな被害を受けました。</p>
      <p>なかでも千葉は深刻な被害を受けました。再建を諦めて転居する方、ブルーシートの屋根で年を越す方も。</p>
      <p>同じ千葉県民として微力ながら千葉を応援したい。そのためにはまず千葉を知ることからはじめよう。</p>
      <p>そんな思いでアプリケーションを作りました。お手すきの際に少しだけでもご覧いただけたら幸いです。</p>
    </div>
    <br>
    <div class="no-gutters">
      <iframe width="700" height="394" src="https://www.youtube.com/embed/etf5skjKK9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="container">
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.town.kyonan.chiba.jp/uploaded/banner/25_img1.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.town.kyonan.chiba.jp/"><b>鋸南町</b></a></h4>
            <p>人口 7,800人　世帯数 3,334世帯</p>
            <p>県南部に位置する。北部には鋸山があり、山内にある日本寺には日本一大きな石仏が鎮座する。野菜や花卉の栽培が盛んで、菜の花やカーネーションの生産額は、県内でもトップクラス。かねてより人口減が続いている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.town.sakae.chiba.jp/cms/skin/top/img/photo/photo04.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.town.sakae.chiba.jp/"><b>栄町</b></a></h4>
            <p>人口 20,848人　世帯数 8,313世帯</p>
            <p>県北部に位置し、北は利根川を挟んで茨城県に接する。1982年以降、安食駅を中心とした一帯は住宅地として開発が進んだ。成田市に近い南部に残る、6~7世紀頃に形成された古墳群は県内でもっとも広い面積をもつ国指定史跡。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.pref.chiba.lg.jp/shared/images/sns/logo.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.oamishirasato.lg.jp"><b>大網白里市</b></a></h4>
            <p>人口 48,805人　世帯数 19,161世帯</p>
            <p>県中央東部、九十九里平野のほぼ中央に位置。明治初期には、旧安房、上総、下総と現在の茨城県を管轄する宮谷県が置かれていた。漁業や農業を主産業とする地域だったが、1970年代からは宅地開発が進み第3次産業の人口比率が上がっている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.city.katori.lg.jp/index.images/koho_sns.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.katori.lg.jp/"><b>香取市</b></a></h4>
            <p>人口 75,755人　世帯数 27,600世帯</p>
            <p>2006年に佐原市と香取郡の3町が合併して誕生。県北東部に位置し北部は茨城県と接する。東国三社のひとつ香取神宮や、日本初の実測日本地図を作製した伊能忠敬の旧宅がある。また、7月と10月には「佐原の山車行事」が佐原の大祭として行われる。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.pref.chiba.lg.jp/shared/images/sns/logo.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.sammu.lg.jp/"><b>山武市</b></a></h4>
            <p>人口 51,029人　世帯数 19,588世帯</p>
            <p>2006年に山武群の4町村が合併して誕生。県東部、太平洋に面し、九十九里浜のほぼ中央に位置する。中央部に広がる平野では稲作をはじめトウモロコシやソラマメ、スイカといった野菜・果物の生産が盛んに行われている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.city.isumi.lg.jp/img/top/ogp.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.isumi.lg.jp/"><b>いすみ市</b></a></h4>
            <p>人口 37,572人　世帯数 14,839世帯</p>
            <p>2005年に夷隅郡にあった3町が合併して誕生。県南東部に位置し、東は太平洋に面する。世界有数のヨウ素の生産地として知られる。JR外房線が海沿いを南北に、いすみ鉄道が市の中心を東西に横断している。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.town.kujukuri.chiba.jp/css/img/a-insta.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.town.kujukuri.chiba.jp/"><b>九十九里町</b></a></h4>
            <p>人口 15,904人　世帯数 6,362世帯</p>
            <p>県東部、太平洋側に位置する。水産加工業が盛んで、イワシ漁とイワシの加工食品が町の産業を支えている。浜は海水浴場としても有名で、年間約70万人が訪れる。伊能忠敬の出生地として、県指定史跡の公園に石碑が立っている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.yachimata.lg.jp/img/top/bnr_book.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.yachimata.lg.jp/"><b>八街市</b></a></h4>
            <p>人口 69,469人　世帯数 27,437世帯</p>
            <p>県中央部に位置し、標高は14~66mほど。田畑が市の半分以上を占める。おもに野菜が栽培され、ニンジンは全国2位、ゴボウは全国8位の生産量を誇る。なかでも落花生は「八街落花生」として商標登録されるほどで、生産量は日本一。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.city.kamogawa.lg.jp/material/image/group/2/sanmitsu.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.kamogawa.lg.jp/"><b>鴨川市</b></a></h4>
            <p>人口 33,249人　世帯数 14,608世帯</p>
            <p>房総半島の南東部、太平洋側に位置。勝浦市に近い内浦湾に生息するタイは、生態のめずらしさなどから、国の特別天然記念物に指定されている。日本屈指の水族館、鴨川シーワールドがある。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.pref.chiba.lg.jp/shared/images/sns/logo.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.kimitsu.lg.jp/"><b>君津市</b></a></h4>
            <p>人口 84,622人　世帯数 34,825世帯</p>
            <p>房総半島の中央に位置。東京湾に面する市北西部は平坦な大地だが、東部は石尊山や大福山などの清澄山系、南部は三石山や鹿野山の高宕山系が広がる。東京湾へ面する海岸線は1960年代に埋め立てられ、現在は日本製鉄の製鉄所などが操業している。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.tateyama.chiba.jp/files/300343496.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.tateyama.chiba.jp/"><b>館山市</b></a></h4>
            <p>人口 46,621人　世帯数 20,343世帯</p>
            <p>本州の太平洋沿岸のほぼ中央、房総半島の南端に位置し、東京都心からは100km圏内にある。周囲を南房総市に囲まれ、内房の館山湾と太平洋に面する。年間平均気温16℃以上と気候は温暖。1456年頃この地を治めた戦国武将・里見氏の史跡が残る。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.pref.chiba.lg.jp/shared/images/sns/logo.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.minamiboso.chiba.jp/"><b>南房総市</b></a></h4>
            <p>人口 37,921人　世帯数 15,038世帯</p>
            <p>県南部に位置し、市北部には千葉県最高峰の愛宕山(408m)をはじめ富山など300m級の山が連なる。農業が盛んで、全国2位の産出額(2014年)のビワ、洋ランやスターチスなど花卉の産地として有名。日本の酪農発祥の地で、生乳や乳牛は全国5位。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.ichikawa.lg.jp/common/000266667.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.ichikawa.lg.jp/"><b>市川市</b></a></h4>
            <p>人口 488,646人　世帯数 236,013世帯</p>
            <p>西は江戸川を挟んで東京都に、南は東京湾に接する。北部は標高20mほどの台地で、南部は同2m程度の低地帯。都心から20km圏内に位置し、今では首都圏のベッドタウンとして発展。永井荷風や幸田露伴、北原白秋ら文人が暮らしたことでも有名。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.pref.chiba.lg.jp/shared/images/sns/logo.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.ichihara.chiba.jp/"><b>市原市</b></a></h4>
            <p>人口 273,094人　世帯数 115,410世帯</p>
            <p>面積が県内1位。県中央部に位置し、北部は平坦な台地、南部は標高200~300mの上総丘陵に属する。臨海部の埋め立てで京葉工業地域の一部をなすようになり、産業は第一次から第二次、第三次へと変化した。注目の地層「チバニアン」がある地。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.town.chonan.chiba.jp/wp-content/themes/chonan/img/ico_menu.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.town.chonan.chiba.jp/"><b>長南町</b></a></h4>
            <p>人口 7,944人　世帯数 2,778世帯</p>
            <p>県のほぼ中央、上総丘陵に位置する。北部の市津湖を挟み市原市と接する。稲作を中心とした農業が盛んで、町の4分の1を農地が占める。農業用のため池も多い。1995年頃から人口は減り続けている。また、ゴルフ場が多い(9つ)ことで知られる。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.city.sakura.lg.jp/design_img/head_id.gif" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.sakura.lg.jp/"><b>佐倉市</b></a></h4>
            <p>人口 172,226人　世帯数 69,839世帯</p>
            <p>県北部、下総台地の中央部に位置し、都心からは40km圏内。市北部には印旛沼があり、印旛沼付近から広がる台地や傾斜地からなる。佐倉城は、江戸時代に江戸を守る要衝のひとつに数えられた。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.city.mobara.chiba.jp/css/img/menu_hom_.gif" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.mobara.chiba.jp/"><b>茂原市</b></a></h4>
            <p>人口 89,011人　世帯数 36,663世帯</p>
            <p>千葉県の中央東部に位置。旧石器時代から弥生時代の遺跡や貝塚、4世紀の大和朝廷確立以降の古墳が残る。明治中期に天然ガスが発見され、産業として発展。今もメタンガスの生産量は日本一。茂原七夕まつりは、関東三大七夕まつりのひとつ。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.pref.chiba.lg.jp/shared/images/sns/logo.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.choshi.chiba.jp/"><b>銚子市</b></a></h4>
            <p>人口 62,428人　世帯数 26,060世帯</p>
            <p>東京から約100km、関東平野の最東端に位置。北は利根川を隔て茨城県に、東から南にかけて太平洋に接する。全国屈指の水揚げ量を誇る銚子漁港を擁する。また、源義経が奥州へ逃れる途中でこもった洞窟といわれる千騎ケ岩や、犬岩など伝説が残る。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.yotsukaido.chiba.jp/index.images/200415webp1.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.yotsukaido.chiba.jp/"><b>四街道市</b></a></h4>
            <p>人口 90,355人　世帯数 36,177世帯</p>
            <p>県北部に位置。下総台地にあり、市内はほぼ平坦。昭和40年代前半に大型団地が建造され、首都圏のベッドタウンとして急速に発展を遂げた。かつては稲作が盛んだったが、戦後の開拓によって今では乳牛や養鶏など畜産業の拠点となっている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.town.ichinomiya.chiba.jp/assets/kouhou/2004/thumb/img_kouhou2004.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.town.ichinomiya.chiba.jp/"><b>一宮町</b></a></h4>
            <p>人口 11,709人　世帯数 4,578世帯</p>
            <p>県東部、九十九里浜の南端に位置。東は太平洋、西は丘陵が広がる。基幹産業は、ハウス栽培を中心とした農業で、日本一といわれるガラス温室団地がある。釣ヶ崎海岸が、2020年の東京オリンピックのサーフィンの競技会場に決まっている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.inzai.lg.jp/cmsfiles/img_list/4.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.inzai.lg.jp/"><b>印西市</b></a></h4>
            <p>人口 95,878人　世帯数 34,498世帯</p>
            <p>県北部に位置し、北は利根川を挟んで茨城県と接する。南には印旛沼がある。市面積の4割を田畑が占め、宅地は約1割程度。人口の半数以上を千葉ニュータウン区域が占めている。国指定天然記念物の木下貝層など文化財も多い。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.town.shirako.lg.jp/design_img/head_id.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.town.shirako.lg.jp/"><b>白子町</b></a></h4>
            <p>人口 10,829人　世帯数 4,183世帯</p>
            <p>県中央部に位置し、海岸線は九十九里浜に沿う。基幹産業は農業や花卉栽培で、町の面積の半分以上を農地が占める。トマト、ガーベラは県内有数の産地。町内に300面を超すテニスコートを有し、観光客の3分の1はテニスを楽しみに訪れている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.town.tako.chiba.jp/_files/00044127/200122takoiju_HPbanner_500.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.town.tako.chiba.jp/"><b>多古町</b></a></h4>
            <p>人口 14,416人　世帯数 5,119世帯</p>
            <p>県北中部、下総台地の東に位置。県内にある町村のなかで2番目に広い面積をもつ。中央部に流れる栗山川流域には水田地帯が広がり、北部と頭部には台地が広がる。この水田地帯でつくられる「多古米」は、日本の米づくり100選に選ばれている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.chiba.jp/shared/images/sns/logo.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.chiba.jp/"><b>千葉市</b></a></h4>
            <p>人口 974,759人　世帯数 427,032世帯</p>
            <p>県庁所在地。県のほぼ中央に位置し、県内の幹線道路や鉄道の起点となっている。県内唯一の政令指定都市(1992年に移行)であり、6区からなる。千葉港は、貨物取扱量で全国2位(2013年)。東京都区内への通勤率は20.8%(2010年の国勢調査)。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.town.mutsuzawa.chiba.jp/wordpress/wp-content/themes/mutsuzawa/img/common/sp_logo.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.town.mutsuzawa.chiba.jp/"><b>睦沢町</b></a></h4>
            <p>人口 7,056人　世帯数 2,457世帯</p>
            <p>県中東部に位置し、標高は約2~168m。北東部に流れる一宮川、中央部の瑞沢川などの河川付近は、上総地区屈指の穀倉地帯。県内トップクラスのシクラメン生産地。天然ガス資源が豊富。里見八犬伝に登場する御神木などが残る。町内に鉄道駅はない。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.city.asahi.lg.jp/common/img/kouhou/hp200415_0.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.asahi.lg.jp/"><b>旭市</b></a></h4>
            <p>人口 65,682人　世帯数 23,699世帯</p>
            <p>千葉県の北東部に位置し、南部は九十九里浜(太平洋)に面する。稲作をはじめとした農業、花の栽培、畜産などが盛んで、農業生産額は県内でもトップクラス。漁業では飯岡漁港が県内2位の水揚げ量を誇る。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.togane.chiba.jp/css/img/menu_fac.gif" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.togane.chiba.jp/"><b>東金市</b></a></h4>
            <p>人口 60,155人　世帯数 25,594世帯</p>
            <p>千葉市のほぼ中央部に位置し、千葉市の東側に接する。徳川家康が鷹狩のためにつくらせた御成街道がきっかけとなり、問屋街がつくられた。現在でも国道や圏央道が通る交通の要衝。匝瑳市と並んで植木の生産地としても知られる。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.town.tohnosho.chiba.jp/images/topimg/libfinder_tohnosho_1.gif" class="img-rounded" style="height:150px">
          <div class="caption">
          <h4><a href="https://www.town.tohnosho.chiba.jp/"><b>東庄町</b></a></h4>
          <p>人口 13,822人　世帯数 4,602世帯</p>
          <p>県北東部、銚子市の西に位置し北は利根川を挟んで茨城県と接する。町中部は下総台地にあり、南部と北部は傾斜し低地となっている。基幹産業は、稲作や畑作などの農業。毎年4月に行われる笹川の神楽は、県の無形民俗文化財に指定されている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.narita.chiba.jp/content/000046188.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.narita.chiba.jp/"><b>成田市</b></a></h4>
            <p>人口 132,293人　世帯数 57,763世帯</p>
            <p>県の北部中央、下総台地に位置する中核都市。北は利根川を挟んで茨城県と接する。開山1000年を超える成田山新勝寺や成田国際空港が有名。成田国際空港がある三里塚地区には、かつて下総御料牧場(1969年に移転)が広がっていた。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.pref.chiba.lg.jp/shared/images/sns/logo.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.city.tomisato.lg.jp/"><b>富里市</b></a></h4>
            <p>人口 49,829人　世帯数 20,854世帯</p>
            <p>県中部に位置。標高40~50mの台地で、中央部には高崎川や根木名川が流れる。農業が盛んで、スイカ、サトイモは全国でも上位の生産量を誇る。明治期にはこの地に下総牧羊場および取香種畜場が開設され、のちの下総御料牧場のもととなった。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.pref.chiba.lg.jp/shared/images/sns/logo.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.sosa.lg.jp/"><b>匝瑳市</b></a></h4>
            <p>人口 36,398人　世帯数 12,742世帯</p>
            <p>県北東部に位置する。2006年、八日市場市と野栄町が合併して誕生した。南部は平坦地で田畑が広がり、海岸線は九十九里浜に面する。海洋性の温暖な気候。東金市と並び苗木の生産地として知られ、その生産額は全国有数。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="http://www.town.otaki.chiba.jp/images/content/14153/20190308-144803.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="http://www.town.otaki.chiba.jp/"><b>大多喜町</b></a></h4>
            <p>人口 9,483人　世帯数 3,391世帯</p>
            <p>県中央南部に位置。県内の町村のなかでもっとも広大な面積を有し、その約7割を山林が占める。南部は上総丘陵に含まれ、御嶽山や殿中山などがそびえる。西部には養老川が流れる。鉄道は、1930年から国鉄木原線(現在のいすみ鉄道)が走っている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.town.yokoshibahikari.chiba.jp/uploaded/banner/50_img1.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.town.yokoshibahikari.chiba.jp/"><b>横芝光町</b></a></h4>
            <p>人口 23,320人　世帯数 8,545世帯</p>
            <p>県北東部に位置し、海岸線には九十九里浜が広がる。畜産が盛んで、町営東陽食肉センターは県内2位の処理実績。毎年8月に広済寺で行われる鬼来迎は、全国唯一の古典的地獄劇。国の重要無形民俗文化財に指定されている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.kisarazu.lg.jp/_template_/_site_/_default_/_res/images/sns/ogimage.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.city.kisarazu.lg.jp/"><b>木更津市</b></a></h4>
            <p>人口 134,968人　世帯数 56,297世帯</p>
            <p>南房総の東京湾岸に位置し、湾の向かいの神奈川県川崎市と東京湾アクアラインで結ばれている。日本三大狸伝説のひとつ、童謡「証城寺の狸ばやし」の舞台となった證誠寺がある。かつて農地だった中部の台地は宅地化が進んでいる。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.city.futtsu.lg.jp/css/img/head_catch.png" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="hhttps://www.city.futtsu.lg.jp/"><b>富津市</b></a></h4>
            <p>人口 44,654人　世帯数 17,728世帯</p>
            <p>房総半島中西部に位置し、東京湾に接する。市南部は上総丘陵に含まれ、鋸山や愛宕山、氷室山などを含む山間部がある。東京湾へ突出した富津岬は、南房総国定公園に指定されている。ここから見る富士山は、関東の富士見百景に選出されている。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" style="height:350px">
          <img src="https://www.town.nagara.chiba.jp/uploaded/banner/38_img1.jpg" class="img-rounded" style="height:150px">
          <div class="caption">
            <h4><a href="https://www.town.nagara.chiba.jp/"><b>長柄町</b></a></h4>
            <p>人口 7,125人　世帯数 2,592世帯</p>
            <p>県中央部、長生郡の西端に位置する。上総丘陵のまっただなかにあり、起伏が激しい地形をしている。日本最大級のアース式ダム、長柄ダムを有しており、周辺地域の水源となっている。1998年以降は現在に至るまで減少が続いている。</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
