<!DOCTYPE html>
<html>
  <head>
    <title>chibasampo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 message">
      <br>
      <h1>千葉の人々</h1>
      <p>ここでは千葉にゆかりのある人たちを紹介します。</p>
      <br>
    </div>
    <div class="container">
      <br>
      <br>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        &emsp;&emsp;&emsp;&emsp;<a href="https://www.kadokawa.co.jp/product/321902000760/"><img src="https://cdn.kdkw.jp/cover_b/321902/321902000760.jpg" class="img-circle" style="height:280px; width:280px;"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="caption">
          <h4>相葉雅紀</h4>
          <p>　世界中に嵐を巻き起こした</p>
          <h5>&ensp;略年表</h5>
          <table>
            <tr>
              <td>　1996年(14歳) ジャニーズ事務所に入所<br>　2010年(28歳) 日刊スポーツ・ドラマグランプリ秋ドラマ主演男優賞『マイガール』<br>　2013年(31歳) 第30回ベストジーニスト一般選出部門男性1位(殿堂入り)<br>　2014年(32歳) ベストカラアゲニストアイドル部門<br>　2015年(33歳) ベストカラアゲニスト男性アイドル部門<br>　2016年(34歳) ベストカラアゲニスト男性アイドル部門<br>　2017年(35歳) ベストカラアゲニスト男性アイドル部門<br>　2018年(36歳) ベストカラアゲニスト男性アイドル部門<br>　2019年(37歳) ベストカラアゲニスト男性アイドル部門</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        &emsp;&emsp;&emsp;&emsp;<a href="https://www.city.katori.lg.jp/sightseeing/museum/"><img src="https://www.city.katori.lg.jp/sightseeing/museum/tadataka.images/data_ph_tadataka_01.jpg" class="img-circle" style="height:280px; width:280px;"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="caption">
          <h4>伊能忠敬</h4>
          <p>　初めて実測による日本地図を完成させた</p>
          <h5>&ensp;略年表</h5>
          <table>
            <tr>
              <td>　1745年(&nbsp;&nbsp;0歳) 現在の九十九里町で誕生<br>　1762年(17歳) 佐原村の伊能家に婿入り<br>　1781年(36歳) 佐原村本宿組の名主となる<br>　1795年(50歳) 江戸に住み、天文学者・高橋至時の弟子になる<br>　1800年(55歳) 第1次測量(東北・北海道南部)<br>　1804年(59歳) 日本東半部沿海地図を幕府に提出、以後、幕吏に登用される<br>　1816年(71歳) 第10次測量(江戸府内)<br>　1818年(73歳) 自宅にて死去<br>　1821年 大日本沿海輿地全図(大図214枚・中図8枚・小図3枚)、大日本沿海実測録(14巻)が完成</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        &emsp;&emsp;&emsp;&emsp;<a href="https://274ch.com/"><img src="https://www.sankei.com/images/news/200327/ent2003270003-p1.jpg" class="img-circle" style="height:280px; width:280px;"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="caption">
          <h4>ふなっしー</h4>
          <p>　船橋のイメージアップに貢献</p>
          <h5>&ensp;略年表</h5>
          <table>
            <tr>
            <td>　2011年(1872歳) Twitter開始<br>　2012年(1873歳) 船橋市役所および船橋商工会議所を訪れ、推薦を得ようとしたが拒否された<br>　2013年(1874歳) 日本テレビ『スッキリ!!』に出演し、人気に火がついた<br>　2014年(1875歳) 初アルバム発売。オリコン週間アルバムランキング4位に初登場する<br>　2015年(1876歳) 日本外国特派員協会にて、約100人の前で記者会見を行う<br>　2016年(1877歳) 主役を務める単発テレビドラマ『ふなっしー探偵』がフジテレビ系列で放送<br>　2017年(1878歳) 新京成電鉄にて、「ふなっしートレイン」が運行開始(2018年1月16日まで)<br>　2019年(1880歳) 若いころ、千葉ではない所に住んでいたことを明かした</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>
